.header {

    &__container {
      padding: 288px 0;
      font-size: 76px;
      line-height: 92px;
      color: #f1ebff;
      text-align: center;

      @media (max-width: 610px){
        font-size: 25px;
        padding: 88px 10px;
        line-height: 52px;
    }
    }
  
    &__subtitle{
      font-size: 36px;
    }
  
    &__descr{
      font-size: 20px;
      line-height: 32px;
    }
  
  }
  