.nasaimage-wrap{
    background-image: url(../../img/earth1.jpg);
    background-size: cover;
    background-attachment: fixed;

}

.nasaimage{
    &__hero {
        padding: 180px 0;
        text-align: center;
        line-height: 42px;
        max-width: 800px;
        margin: 0 auto;
        color: #f1ebff;
      }
    
      &__hero-title {
        font-size: 38px;
      }
      &__hero-desc {
        font-size: 24px;
      }

      &__search-row{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding-bottom: 20px;
      }

      &__inp{
        height: 50px;
        padding: 0 20px;
        color: black;
        font-size: 20px;
        font-weight: 600;
        border: none;
        outline: none;
      }

      &__btn{
        height: 50px;
        padding: 0 10px;
        cursor: pointer;
      }

      &__result{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap:20px;
      }

      &__image-item{
        width: 350px;
        height: 350px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        cursor: pointer;
        overflow: hidden;
        background-color: black;
      }

      &__image-img{
        height: 250px;
        object-fit: cover;
        padding: 5px;
      }

      &__image-desc{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
      }
}

