.apodreview {
    margin: 40px 0;

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }

  &__item {
    position: relative;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    overflow: hidden;
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%
  }

  &__img-title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 20px;
  }
}
